<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>obpm2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<description>实现线程监控</description>
		<display-name>ServletLinstener</display-name>
		<listener-class>cn.wizool.android.servlet.generalpackage.ServletLinstener
		</listener-class>
	</listener>
	<!-- 校园配置 -->
	<servlet-mapping>
		<servlet-name>SchoolServletDemo</servlet-name>
		<url-pattern>/SchoolServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolServletDemo</display-name>
		<servlet-name>SchoolServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolServletDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolRoomServletDemo</servlet-name>
		<url-pattern>/SchoolRoomServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolRoomServletDemo</display-name>
		<servlet-name>SchoolRoomServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolRoomServletDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolWeatherServletDemo</servlet-name>
		<url-pattern>/SchoolWeatherServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolWeatherServletDemo</display-name>
		<servlet-name>SchoolWeatherServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolWeatherServletDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolInfoServletDemo</servlet-name>
		<url-pattern>/SchoolInfoServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolInfoServletDemo</display-name>
		<servlet-name>SchoolInfoServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolInfoServletDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoServletDemo</servlet-name>
		<url-pattern>/VideoServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VideoServletDemo</display-name>
		<servlet-name>VideoServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.VideoServletDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolServletDemoFenPage</servlet-name>
		<url-pattern>/SchoolServletDemoFenPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolServletDemoFenPage</display-name>
		<servlet-name>SchoolServletDemoFenPage</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolServletDemoFenPage
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolColumnServletDemo</servlet-name>
		<url-pattern>/SchoolColumnServletDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SchoolColumnServletDemo</display-name>
		<servlet-name>SchoolColumnServletDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.schoolpackage.SchoolColumnServletDemo
		</servlet-class>
	</servlet>
	<!-- 考试配置 -->
	<servlet-mapping>
		<servlet-name>ExcelDescriptDemo</servlet-name>
		<url-pattern>/ExcelDescriptDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExcelDescriptDemo</display-name>
		<servlet-name>ExcelDescriptDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.exampackage.ExcelDescriptDemo
		</servlet-class>
	</servlet>
	<!-- 班级配置 -->
	<servlet-mapping>
		<servlet-name>ClassCurriculumScheduleDemo</servlet-name>
		<url-pattern>/ClassCurriculumScheduleDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassCurriculumScheduleDemo</display-name>
		<servlet-name>ClassCurriculumScheduleDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassCurriculumScheduleDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassMasterDemo</servlet-name>
		<url-pattern>/ClassMasterDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassMasterDemo</display-name>
		<servlet-name>ClassMasterDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassMasterDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasssdutyrosterDemo</servlet-name>
		<url-pattern>/ClasssdutyrosterDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClasssdutyrosterDemo</display-name>
		<servlet-name>ClasssdutyrosterDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClasssdutyrosterDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassTaskDemo</servlet-name>
		<url-pattern>/ClassTaskDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassTaskDemo</display-name>
		<servlet-name>ClassTaskDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassTaskDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassPraisecolumn</servlet-name>
		<url-pattern>/ClassPraisecolumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassPraisecolumn</display-name>
		<servlet-name>ClassPraisecolumn</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassPraisecolumn
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassHonorcolumn</servlet-name>
		<url-pattern>/ClassHonorcolumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassHonorcolumn</display-name>
		<servlet-name>ClassHonorcolumn</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassHonorcolumn
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassActivitycolumn</servlet-name>
		<url-pattern>/ClassActivitycolumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassActivitycolumn</display-name>
		<servlet-name>ClassActivitycolumn</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassActivitycolumn
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassColumnDisplay</servlet-name>
		<url-pattern>/ClassColumnDisplay</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassColumnDisplay</display-name>
		<servlet-name>ClassColumnDisplay</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassColumnDisplay
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassOtherColumnDisplay</servlet-name>
		<url-pattern>/ClassOtherColumnDisplay</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassOtherColumnDisplay</display-name>
		<servlet-name>ClassOtherColumnDisplay</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassOtherColumnDisplay
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassStudentList</servlet-name>
		<url-pattern>/ClassStudentList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassStudentList</display-name>
		<servlet-name>ClassStudentList</servlet-name>
		<servlet-class>cn.wizool.android.servlet.classpackage.ClassStudentList
		</servlet-class>
	</servlet>
	<!-- 考勤配置 -->
	<servlet-mapping>
		<servlet-name>AttendanceServlet</servlet-name>
		<url-pattern>/AttendanceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceServlet</display-name>
		<servlet-name>AttendanceServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceInsertServlet</servlet-name>
		<url-pattern>/AttendanceInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceInsertServlet</display-name>
		<servlet-name>AttendanceInsertServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceInsertServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceTeacherInfoServlet</servlet-name>
		<url-pattern>/AttendanceTeacherInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceTeacherInfoServlet</display-name>
		<servlet-name>AttendanceTeacherInfoServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceTeacherInfoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceClassInfoServlet</servlet-name>
		<url-pattern>/AttendanceClassInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceClassInfoServlet</display-name>
		<servlet-name>AttendanceClassInfoServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceClassInfoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceTimeTable</servlet-name>
		<url-pattern>/AttendanceTimeTable</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceTimeTable</display-name>
		<servlet-name>AttendanceTimeTable</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceTimeTable
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceTimeTables</servlet-name>
		<url-pattern>/AttendanceTimeTables</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceTimeTables</display-name>
		<servlet-name>AttendanceTimeTables</servlet-name>
		<servlet-class>cn.wizool.android.servlet.attendencepackage.AttendanceTimeTables
		</servlet-class>
	</servlet>
	<!-- 通用配置 -->
	<servlet-mapping>
		<servlet-name>UpdateAppServlet</servlet-name>
		<url-pattern>/UpdateAppServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateAppServlet</display-name>
		<servlet-name>UpdateAppServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.generalpackage.UpdateAppServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeswitchDemo</servlet-name>
		<url-pattern>/ModeswitchDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModeswitchDemo</display-name>
		<servlet-name>ModeswitchDemo</servlet-name>
		<servlet-class>cn.wizool.android.servlet.generalpackage.ModeswitchDemo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HeartbeatPackageServlet</servlet-name>
		<url-pattern>/HeartbeatPackageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HeartbeatPackageServlet</display-name>
		<servlet-name>HeartbeatPackageServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.generalpackage.HeartbeatPackageServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceInfoInsertServlet</servlet-name>
		<url-pattern>/DeviceInfoInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeviceInfoInsertServlet</display-name>
		<servlet-name>DeviceInfoInsertServlet</servlet-name>
		<servlet-class>cn.wizool.android.servlet.generalpackage.DeviceInfoInsertServlet
		</servlet-class>
	</servlet>
</web-app>